# vscode
.vscode 

# Jetbrains
*.iml
.idea

# npm
node_modules

# compiled/gathered build
build

# Sourcemaps
*.map

# Obsidian plugin save data
data.json

# Obsidian test vault
/test-vault/.obsidian

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude jest coverage report
/coverage/
