.root {
	background-color: var(--code-background);
	white-space: pre;	
	display: flex;
	flex-direction: column;
	gap: .2em;
	font-family: var(--font-monospace);
}

.line {
	display: flex;
	flex-wrap: wrap;
}

.header {
	background-color: var(--background-primary);
	padding: .5em;
	margin-top: .5em;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
}

.stack {
	display: inline-block;
}

.chord {
}

.word {
	line-height: 90%;
}

