.root {
	background-color: var(--custom-background-color, var(--code-background)) !important;
	white-space: pre;
	display: flex;
	flex-direction: column;
	font-family: var(--font-monospace);
}

.line {
	display: flex;
	flex-wrap: wrap;
	margin: 0 1em;
}

.header {
	--space-vert: var(--size-4-2);
	--space-hor: var(--size-4-4);
	--adjust-vert: calc(3 * var(--space-vert));
	--adjust-hor: calc(-1 * var(--space-hor));
	--adust-right: calc(-4 * var(--space-vert));
	background-color: var(--custom-header-background-color, var(--background-primary)) !important;
	color: var(--custom-header-text-color, inherit) !important;
	padding: .3em 0 .3em var(--space-hor);
	margin: var(--adjust-vert) var(--adust-right) var(--space-vert) 0;
	transform: translateX(var(--adjust-hor));
	width: 150%;
	text-align: left;
	font-size: 1.1em;
	border-radius: var(--radius-s);
}

.stack {
	display: inline-block;
}

.chord {
	color: var(--custom-chord-color, var(--strong-color, var(--accent-strong, var(--bold-color)))) !important;
}

.word {
	color: var(--custom-lyrics-color, inherit) !important;
	line-height: 100%;
}

.line:first-child .header {
	margin-top: var(--size-4-2);
}

.line:last-child {
	margin-bottom: var(--size-4-2);
}
